### Importing Necessary Libraries

In [177]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

### Loading and Viewing the Dataset

In [178]:
df = pd.read_csv('dataset/Electric_Vehicle_Population_Data.csv',encoding='cp1252')
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,JTMEB3FV6N,Monroe,Key West,FL,33040,2022,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42,0,NaN,198968248,POINT (-81.80023 24.5545),NaN,12087972100
1,1G1RD6E45D,Clark,Laughlin,NV,89029,2013,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,38,0,NaN,5204412,POINT (-114.57245 35.16815),NaN,32003005702
2,JN1AZ0CP8B,Yakima,Yakima,WA,98901,2011,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,73,0,15.0,218972519,POINT (-120.50721 46.60448),PACIFICORP,53077001602
3,1G1FW6S08H,Skagit,Concrete,WA,98237,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,39.0,186750406,POINT (-121.7515 48.53892),PUGET SOUND ENERGY INC,53057951101
4,3FA6P0SU1K,Snohomish,Everett,WA,98201,2019,FORD,FUSION,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,26,0,38.0,2006714,POINT (-122.20596 47.97659),PUGET SOUND ENERGY INC,53061041500

# Data Cleaning and Pre-processing

### Describing the Dataset

In [179]:
df.describe()

,Postal Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,112634.000000,112634.000000,112634.000000,112634.000000,112348.000000,1.126340e+05,1.126340e+05
mean,98156.226850,2019.003365,87.812987,1793.439681,29.805604,1.994567e+08,5.296650e+10
std,2648.733064,2.892364,102.334216,10783.753486,14.700545,9.398427e+07,1.699104e+09
min,1730.000000,1997.000000,0.000000,0.000000,1.000000,4.777000e+03,1.101001e+09
25%,98052.000000,2017.000000,0.000000,0.000000,18.000000,1.484142e+08,5.303301e+10
50%,98119.000000,2020.000000,32.000000,0.000000,34.000000,1.923896e+08,5.303303e+10
75%,98370.000000,2022.000000,208.000000,0.000000,43.000000,2.191899e+08,5.305307e+10
max,99701.000000,2023.000000,337.000000,845000.000000,49.000000,4.792548e+08,5.603300e+10

In [180]:
df.shape

(112634, 17)

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112634 entries, 0 to 112633
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         112634 non-null  object
 1   County                                             112634 non-null  object
 2   City                                               112634 non-null  object
 3   State                                              112634 non-null  object
 4   Postal Code                                        112634 non-null  int64
 5   Model Year                                         112634 non-null  int64
 6   Make                                               112634 non-null  object
 7   Model                                              112614 non-null  object
 8   Electric Vehicle Type                              112634 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  112634 non-null  object
 10  Electric Range                                     112634 non-null  int64
 11  Base MSRP                                          112634 non-null  int64
 12  Legislative District                               112348 non-null  float64
 13  DOL Vehicle ID                                     112634 non-null  int64
 14  Vehicle Location                                   112610 non-null  object
 15  Electric Utility                                   112191 non-null  object
 16  2020 Census Tract                                  112634 non-null  int64
dtypes: float64(1), int64(6), object(10)
memory usage: 14.6+ MB

### Checking for missing/NaN values

In [182]:
df.isnull().sum()

VIN (1-10)                                             0
County                                                 0
City                                                   0
State                                                  0
Postal Code                                            0
Model Year                                             0
Make                                                   0
Model                                                 20
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 286
DOL Vehicle ID                                         0
Vehicle Location                                      24
Electric Utility                                     443
2020 Census Tract                                      0
dtype: int64

### Dropping the missing/NaN values, since they will have no significant impact on the model

In [183]:
df = df.dropna()

### No missing/NaN values remaining

In [184]:
df.isnull().sum()

VIN (1-10)                                           0
County                                               0
City                                                 0
State                                                0
Postal Code                                          0
Model Year                                           0
Make                                                 0
Model                                                0
Electric Vehicle Type                                0
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0
Electric Range                                       0
Base MSRP                                            0
Legislative District                                 0
DOL Vehicle ID                                       0
Vehicle Location                                     0
Electric Utility                                     0
2020 Census Tract                                    0
dtype: int64

In [185]:
df.head(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
2,JN1AZ0CP8B,Yakima,Yakima,WA,98901,2011,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,73,0,15.0,218972519,POINT (-120.50721 46.60448),PACIFICORP,53077001602
3,1G1FW6S08H,Skagit,Concrete,WA,98237,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,39.0,186750406,POINT (-121.7515 48.53892),PUGET SOUND ENERGY INC,53057951101
4,3FA6P0SU1K,Snohomish,Everett,WA,98201,2019,FORD,FUSION,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,26,0,38.0,2006714,POINT (-122.20596 47.97659),PUGET SOUND ENERGY INC,53061041500

# Machine Learning Modeling

In [194]:
df.sort_values('Electric Range', ascending=False).head(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
11828,5YJSA1E44L,Clark,Vancouver,WA,98684,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,337,0,17.0,131590462,POINT (-122.5476 45.62832),BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF C...,53011041322
89904,5YJSA1E44L,Spokane,Spokane,WA,99203,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,337,0,3.0,131439955,POINT (-117.39322 47.63374),MODERN ELECTRIC WATER COMPANY,53063004500
28913,5YJSA1E43L,Snohomish,Lake Stevens,WA,98258,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,337,0,44.0,110724344,POINT (-122.06402 48.01497),PUGET SOUND ENERGY INC,53061052604

In [195]:
df['VIN (1-10)'].unique()
df = df.drop('VIN (1-10)', axis =1)

In [196]:
df['State'].unique()
df = df.drop('State', axis=1)

In [197]:
df['County'].value_counts()

King            58980
Snohomish       12412
Pierce           8525
Clark            6681
Thurston         4109
Kitsap           3828
Whatcom          2839
Spokane          2785
Benton           1376
Island           1298
Skagit           1228
Clallam           728
San Juan          717
Jefferson         698
Chelan            654
Yakima            617
Cowlitz           569
Mason             547
Lewis             431
Grays Harbor      402
Kittitas          392
Franklin          365
Grant             335
Walla Walla       312
Douglas           221
Whitman           177
Klickitat         175
Okanogan          149
Pacific           145
Skamania          139
Stevens            91
Asotin             48
Wahkiakum          39
Adams              34
Pend Oreille       32
Lincoln            30
Ferry              27
Columbia           13
Garfield            4
Name: County, dtype: int64

In [198]:
df['County']= df['County'].replace(['Clallam','San Juan','Cowlitz','Mason','Lewis','Grays Harbor',
                      'Kittitas','Franklin','Grant','Walla Walla','Douglas','Whitman',
                      'Klickitat','Okanogan','Pacific','Skamania','Stevens','Asotin',
                      'Wahkiakum','Adams','Pend Oreille','Lincoln','Ferry','Columbia','Garfield'],'Others')

In [199]:
df['City']=df['City'].replace(df['City'].value_counts().iloc[25:].index.tolist(),'Others')

In [200]:
df['Electric Vehicle Type'].unique()

dummies = pd.get_dummies(df['Electric Vehicle Type'], drop_first=True)
df = pd.concat([df.drop('Electric Vehicle Type', axis=1), dummies], axis=1)

In [201]:
df['Clean Alternative Fuel Vehicle (CAFV) Eligibility'].unique()

array(['Clean Alternative Fuel Vehicle Eligible',
       'Not eligible due to low battery range',
       'Eligibility unknown as battery range has not been researched'],
      dtype=object)

In [202]:
dummies = pd.get_dummies(df['Clean Alternative Fuel Vehicle (CAFV) Eligibility'], drop_first=True)
df = pd.concat([df.drop('Clean Alternative Fuel Vehicle (CAFV) Eligibility', axis = 1), dummies], axis=1)

In [203]:
df.select_dtypes('object')

,County,City,Make,Model,Vehicle Location,Electric Utility
2,Yakima,Others,NISSAN,LEAF,POINT (-120.50721 46.60448),PACIFICORP
3,Skagit,Others,CHEVROLET,BOLT EV,POINT (-121.7515 48.53892),PUGET SOUND ENERGY INC
4,Snohomish,Everett,FORD,FUSION,POINT (-122.20596 47.97659),PUGET SOUND ENERGY INC
5,Snohomish,Bothell,TESLA,MODEL 3,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC
6,Snohomish,Everett,NISSAN,LEAF,POINT (-122.23019 47.94949),PUGET SOUND ENERGY INC
...,...,...,...,...,...,...
112629,King,Others,TESLA,MODEL Y,POINT (-121.98609 47.74068),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112630,Others,Others,NISSAN,LEAF,POINT (-123.01648 48.53448),BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...
112631,King,Others,FORD,ESCAPE,POINT (-122.4573 47.44929),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112632,King,Others,KIA,NIRO,POINT (-122.09124 47.33778),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112633,King,Others,VOLVO,XC90,POINT (-122.09124 47.33778),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)

In [204]:
df['Vehicle Location'].unique()

array(['POINT (-120.50721 46.60448)', 'POINT (-121.7515 48.53892)',
       'POINT (-122.20596 47.97659)', 'POINT (-122.18384 47.8031)',
       'POINT (-122.23019 47.94949)', 'POINT (-122.29196 47.89908)',
       'POINT (-122.35803 47.9796)', 'POINT (-122.61214 48.51748)',
       'POINT (-122.75379 47.06316)', 'POINT (-119.2771 47.13196)',
       'POINT (-123.08743 46.82175)', 'POINT (-122.33029 48.46846)',
       'POINT (-122.19388 48.15353)', 'POINT (-122.27734 47.83785)',
       'POINT (-122.31768 47.87166)', 'POINT (-122.92333 47.03779)',
       'POINT (-122.27981 47.85727)', 'POINT (-122.3026 47.72656)',
       'POINT (-122.23035 47.3074)', 'POINT (-122.31765 47.70013)',
       'POINT (-122.37689 47.81116)', 'POINT (-122.40618 48.0399)',
       'POINT (-122.82324 47.04437)', 'POINT (-122.89166 47.03956)',
       'POINT (-122.18637 47.89252)', 'POINT (-122.1389 47.87115)',
       'POINT (-122.66122 47.56573)', 'POINT (-122.29245 47.82557)',
       'POINT (-122.25527 47.90456)', 'POINT (-120.52301 46.60138)',
       'POINT (-120.56916 46.58514)', 'POINT (-117.18147 46.73015)',
       'POINT (-117.45674 47.69963)', 'POINT (-122.55242 47.73162)',
       'POINT (-121.98087 47.8526)', 'POINT (-122.62316 47.70251)',
       'POINT (-122.80277 46.99409)', 'POINT (-122.04526 47.39394)',
       'POINT (-122.1769 48.06114)', 'POINT (-122.17743 47.41185)',
       'POINT (-122.31327 47.75736)', 'POINT (-122.64681 47.73689)',
       'POINT (-122.09305 47.91265)', 'POINT (-122.13158 47.67858)',
       'POINT (-122.00292 47.54748)', 'POINT (-122.95058 46.14681)',
       'POINT (-122.52054 47.26887)', 'POINT (-120.54872 46.99703)',
       'POINT (-122.3317 47.50314)', 'POINT (-122.72457 47.38165)',
       'POINT (-122.35051 47.15252)', 'POINT (-122.02054 47.60326)',
       'POINT (-122.32427 47.63433)', 'POINT (-124.10424 46.89078)',
       'POINT (-122.49212 45.60365)', 'POINT (-122.20563 47.76144)',
       'POINT (-117.59311 47.6443)', 'POINT (-122.03539 47.61344)',
       'POINT (-122.21238 47.57816)', 'POINT (-122.37265 48.24159)',
       'POINT (-122.03287 47.68555)', 'POINT (-122.521 47.62728)',
       'POINT (-122.23741 47.3807)', 'POINT (-122.30716 47.62687)',
       'POINT (-122.31009 47.60803)', 'POINT (-122.41067 47.57894)',
       'POINT (-122.21698 47.28317)', 'POINT (-120.20831 47.67562)',
       'POINT (-122.54795 47.17997)', 'POINT (-122.17144 47.19175)',
       'POINT (-122.35186 47.54286)', 'POINT (-122.44164 47.25517)',
       'POINT (-122.11867 47.63131)', 'POINT (-122.64695 45.65675)',
       'POINT (-117.3186 47.6505)', 'POINT (-122.2066 47.67887)',
       'POINT (-122.30866 47.57874)', 'POINT (-122.37571 47.16104)',
       'POINT (-122.38591 47.67597)', 'POINT (-122.15771 47.50549)',
       'POINT (-122.65745 47.4916)', 'POINT (-122.47122 48.75235)',
       'POINT (-122.62934 45.63201)', 'POINT (-119.26844 46.31484)',
       'POINT (-122.1872 47.61001)', 'POINT (-122.40049 48.23986)',
       'POINT (-120.30522 47.41494)', 'POINT (-122.35436 47.67596)',
       'POINT (-122.23825 47.49461)', 'POINT (-122.06402 48.01497)',
       'POINT (-122.5476 45.62832)', 'POINT (-122.62731 45.71668)',
       'POINT (-122.45516 48.74487)', 'POINT (-122.54332 47.00328)',
       'POINT (-122.60302 47.36223)', 'POINT (-122.34223 47.61085)',
       'POINT (-122.29592 47.40139)', 'POINT (-122.36498 47.72238)',
       'POINT (-122.40199 45.58694)', 'POINT (-119.3118 46.20664)',
       'POINT (-122.38415 47.53755)', 'POINT (-122.63847 47.54103)',
       'POINT (-122.31307 47.66127)', 'POINT (-122.08747 47.4466)',
       'POINT (-122.21061 47.83448)', 'POINT (-122.34118 47.46665)',
       'POINT (-119.27372 46.27391)', 'POINT (-122.2668 47.55115)',
       'POINT (-122.5331 45.78092)', 'POINT (-122.70303 45.70954)',
       'POINT (-122.34468 47.61578)', 'POINT (-118.34261 46.07068)',
       'POINT (-121.7831 47.49348)', 'POINT (-122.12096 47.55584)',
       'POINT (-122.22901 47.72201)', 'POINT (-122.18463 47.49929)',
       'POINT (-122.87741 47.05997)', 'POINT (-122.19564 47.37271)',
       'POINT (-122.32267 48.41626)', 'POINT (-122.58009 47.328)',
       'POINT (-122.1621 47.64441)', 'POINT (-122.74017 45.9094)',
       'POINT (-122.15545 47.75448)', 'POINT (-122.82983 47.38174)',
       'POINT (-122.3684 47.64586)', 'POINT (-121.82432 47.52716)',
       'POINT (-121.89086 47.56812)', 'POINT (-122.28449 47.146)',
       'POINT (-123.01648 48.53448)', 'POINT (-122.38418 47.70044)',
       'POINT (-123.05688 48.98867)', 'POINT (-122.62954 47.09583)',
       'POINT (-122.346385 47.630685)', 'POINT (-122.07479 47.75264)',
       'POINT (-122.90724 46.27509)', 'POINT (-122.74888 48.99404)',
       'POINT (-122.55149 45.69345)', 'POINT (-119.11698 46.20804)',
       'POINT (-122.03439 47.5301)', 'POINT (-117.45005 47.7333)',
       'POINT (-122.30346 47.55379)', 'POINT (-117.3797 47.65548)',
       'POINT (-122.27511 46.55465)', 'POINT (-122.77263 48.1212)',
       'POINT (-120.99607 47.22593)', 'POINT (-122.24369 47.75892)',
       'POINT (-122.09124 47.33778)', 'POINT (-122.3303 47.30151)',
       'POINT (-122.69275 47.65171)', 'POINT (-122.3503 47.71868)',
       'POINT (-122.40092 47.65908)', 'POINT (-122.23892 47.61613)',
       'POINT (-122.21152 47.43954)', 'POINT (-121.99136 47.20433)',
       'POINT (-123.10367 48.07965)', 'POINT (-122.33891 48.41644)',
       'POINT (-120.22795 47.62352)', 'POINT (-119.90123 46.25606)',
       'POINT (-120.26186 46.40186)', 'POINT (-122.28556 47.18709)',
       'POINT (-122.4573 47.44929)', 'POINT (-122.52886 47.24977)',
       'POINT (-121.48704 45.72776)', 'POINT (-122.57722 45.64251)',
       'POINT (-122.32945 47.60357)', 'POINT (-122.5338 47.23594)',
       'POINT (-121.97745 47.53433)', 'POINT (-120.29473 47.41515)',
       'POINT (-120.60364 47.56805)', 'POINT (-122.82364 47.32767)',
       'POINT (-122.59802 47.17303)', 'POINT (-117.46996 47.59431)',
       'POINT (-122.23972 47.2022)', 'POINT (-119.141 46.19162)',
       'POINT (-117.1748 47.65699)', 'POINT (-123.10565 47.21248)',
       'POINT (-122.41249 47.21584)', 'POINT (-122.96462 46.6621)',
       'POINT (-117.36043 47.63396)', 'POINT (-122.46495 47.16778)',
       'POINT (-124.20177 47.20886)', 'POINT (-122.34536 48.92009)',
       'POINT (-122.36646 47.19269)', 'POINT (-122.00143 47.30893)',
       'POINT (-122.51766 47.27779)', 'POINT (-121.97 45.64119)',
       'POINT (-122.64443 45.67871)', 'POINT (-122.12053 47.61334)',
       'POINT (-122.68558 48.21857)', 'POINT (-122.81585 47.64509)',
       'POINT (-122.1264 48.19471)', 'POINT (-122.92057 47.0031)',
       'POINT (-117.0768 46.9101)', 'POINT (-122.397 48.56045)',
       'POINT (-122.35206 47.30297)', 'POINT (-122.17663 47.32326)',
       'POINT (-122.61624 47.57772)', 'POINT (-122.75493 47.25035)',
       'POINT (-122.53691 47.20606)', 'POINT (-122.6462 47.63132)',
       'POINT (-122.49756 48.7999)', 'POINT (-120.93943 47.195)',
       'POINT (-122.40908 45.86679)', 'POINT (-122.64682 48.29077)',
       'POINT (-122.41894 47.15806)', 'POINT (-120.82548 45.823)',
       'POINT (-122.75878 48.03591)', 'POINT (-122.20348 48.71768)',
       'POINT (-118.37977 47.1274)', 'POINT (-123.09944 47.35689)',
       'POINT (-122.20166 47.09596)', 'POINT (-123.04061 47.37733)',
       'POINT (-122.65107 47.27375)', 'POINT (-122.41666 47.30682)',
       'POINT (-120.39197 46.55621)', 'POINT (-123.46296 48.11653)',
       'POINT (-122.36178 47.49408)', 'POINT (-122.41046 47.06512)',
       'POINT (-122.59219 45.62158)', 'POINT (-117.4077 47.74527)',
       'POINT (-122.91395 48.52342)', 'POINT (-120.65754 47.5982)',
       'POINT (-122.30164 47.45775)', 'POINT (-121.88258 45.69417)',
       'POINT (-119.09467 46.23542)', 'POINT (-122.44718 47.20144)',
       'POINT (-122.60735 46.94239)', 'POINT (-119.43683 48.70854)',
       'POINT (-117.1015 47.66829)', 'POINT (-122.54758 47.91795)',
       'POINT (-122.91109 48.69389)', 'POINT (-117.42571 47.64779)',
       'POINT (-122.69107 48.05105)', 'POINT (-118.66919 46.04238)',
       'POINT (-117.2335 47.67666)', 'POINT (-117.54392 47.77676)',
       'POINT (-120.53113 46.65404)', 'POINT (-117.37056 47.70402)',
       'POINT (-122.35686 47.23679)', 'POINT (-122.45079 48.9429)',
       'POINT (-123.81619 46.97606)', 'POINT (-122.67876 47.17794)',
       'POINT (-123.00026 48.61989)', 'POINT (-122.49771 47.79803)',
       'POINT (-121.95585 46.53534)', 'POINT (-122.48271 47.24737)',
       'POINT (-117.41162 47.65726)', 'POINT (-122.23857 48.50858)',
       'POINT (-121.91353 47.64901)', 'POINT (-122.43874 47.22448)',
       'POINT (-122.29537 47.19044)', 'POINT (-122.82764 47.45054)',
       'POINT (-117.57445 47.48928)', 'POINT (-123.40382 47.00379)',
       'POINT (-122.45691 47.26496)', 'POINT (-122.54729 47.42602)',
       'POINT (-121.96931 48.08157)', 'POINT (-119.55125 47.31867)',
       'POINT (-122.74595 45.81539)', 'POINT (-123.26405 47.04946)',
       'POINT (-122.59351 48.84756)', 'POINT (-122.30116 47.1165)',
       'POINT (-122.32806 47.46155)', 'POINT (-122.28879 47.44538)',
       'POINT (-122.31111 47.78803)', 'POINT (-122.47554 47.21835)',
       'POINT (-122.67156 45.63248)', 'POINT (-123.4313 48.11872)',
       'POINT (-122.52664 48.00956)', 'POINT (-122.68993 46.88897)',
       'POINT (-120.00949 46.32379)', 'POINT (-122.6306 46.53186)',
       'POINT (-117.90454 48.54657)', 'POINT (-121.98609 47.74068)',
       'POINT (-117.3973 47.67573)', 'POINT (-117.11195 47.70763)',
       'POINT (-120.1231 48.3652)', 'POINT (-122.26832 46.86733)',
       'POINT (-117.35237 47.89594)', 'POINT (-124.16408 47.01156)',
       'POINT (-122.35341 45.57923)', 'POINT (-122.68475 47.92989)',
       'POINT (-119.48756 46.26543)', 'POINT (-117.04556 46.41402)',
       'POINT (-121.98233 47.35298)', 'POINT (-122.89868 46.14425)',
       'POINT (-118.60061 48.88101)', 'POINT (-117.39322 47.63374)',
       'POINT (-122.21766 48.8268)', 'POINT (-119.76877 46.20645)',
       'POINT (-122.32172 47.24898)', 'POINT (-123.14135 47.40639)',
       'POINT (-119.33788 46.2969)', 'POINT (114.32466 4.17756)',
       'POINT (-102.69968 22.95716)', 'POINT (-120.01454 47.83985)',
       'POINT (-122.29477 47.05703)', 'POINT (-123.72994 46.68867)',
       'POINT (-122.54578 45.73473)', 'POINT (-120.14545 47.37163)',
       'POINT (-122.51495 47.16195)', 'POINT (-122.49724 48.38874)',
       'POINT (-117.5821 47.09185)', 'POINT (-117.35586 47.7628)',
       'POINT (-123.88689 46.97982)', 'POINT (-117.47154 47.95431)',
       'POINT (-119.03591 47.93348)', 'POINT (-122.77295 48.01182)',
       'POINT (-119.01561 46.1992)', 'POINT (-119.85338 47.23748)',
       'POINT (-122.67244 45.86161)', 'POINT (-121.02627 47.23781)',
       'POINT (-124.05439 46.35232)', 'POINT (-117.72555 48.17623)',
       'POINT (-122.84226 46.00813)', 'POINT (-122.62749 47.565)',
       'POINT (-122.51843 47.7487)', 'POINT (-120.17739 48.47396)',
       'POINT (-122.02523 47.16299)', 'POINT (-123.60076 46.98384)',
       'POINT (-117.2718 47.65388)', 'POINT (-122.31902 48.01306)',
       'POINT (-117.97577 46.32189)', 'POINT (-122.76355 47.34347)',
       'POINT (-122.69891 46.57613)', 'POINT (-117.68269 47.57261)',
       'POINT (-122.32181 48.92857)', 'POINT (-122.95298 46.72894)',
       'POINT (-121.81688 47.8623)', 'POINT (-121.52529 45.99588)',
       'POINT (-124.05475 46.3354)', 'POINT (-121.82048 45.72558)',
       'POINT (-117.35414 47.83743)', 'POINT (-122.68321 48.72043)',
       'POINT (-117.06882 47.7251)', 'POINT (-123.38568 46.20728)',
       'POINT (-117.19631 47.65706)', 'POINT (-117.23995 47.5353)',
       'POINT (-120.47005 47.5224)', 'POINT (-122.53658 45.98974)',
       'POINT (-123.76901 46.95413)', 'POINT (-124.03547 46.3088)',
       'POINT (-123.23286 46.84077)', 'POINT (-122.70639 47.68732)',
       'POINT (-122.8112 46.29694)', 'POINT (-122.93881 46.49114)',
       'POINT (-122.56821 48.08844)', 'POINT (-122.85135 46.85752)',
       'POINT (-119.63136 46.90248)', 'POINT (-122.32738 47.58616)',
       'POINT (-122.64219 48.91865)', 'POINT (-122.57908 47.10349)',
       'POINT (-118.38864 46.03456)', 'POINT (-121.52357 45.72902)',
       'POINT (-122.42148 45.91958)', 'POINT (-121.46623 45.71513)',
       'POINT (-123.04373 46.37331)', 'POINT (-122.23452 48.46376)',
       'POINT (-120.69972 46.7309)', 'POINT (-121.93654 47.54371)',
       'POINT (-124.0495 46.49147)', 'POINT (-122.8357 48.62356)',
       'POINT (-119.1742 46.82616)', 'POINT (-117.37047 47.23428)',
       'POINT (-121.41201 47.41873)', 'POINT (-118.73748 48.64426)',
       'POINT (-119.00041 47.94283)', 'POINT (-117.71555 48.28136)',
       'POINT (-121.66939 46.61019)', 'POINT (-120.66621 47.05139)',
       'POINT (-120.47794 46.55282)', 'POINT (-120.20227 47.37238)',
       'POINT (-118.61566 46.97135)', 'POINT (-120.18721 46.33937)',
       'POINT (-118.70912 47.75942)', 'POINT (-122.84784 46.44067)',
       'POINT (-120.31298 46.37508)', 'POINT (-119.01647 46.45698)',
       'POINT (-124.30041 48.25978)', 'POINT (-117.13359 47.00706)',
       'POINT (-118.41899 47.82937)', 'POINT (-117.04398 48.18285)',
       'POINT (-118.25682 47.4829)', 'POINT (-122.24692 47.26465)',
       'POINT (-122.33145 47.60622)', 'POINT (-122.7478 46.53239)',
       'POINT (-117.58937 46.47398)', 'POINT (-122.75905 47.21454)',
       'POINT (-118.86063 46.66146)', 'POINT (-122.89646 47.69838)',
       'POINT (-121.35912 47.71192)', 'POINT (-117.87704 47.66951)',
       'POINT (-122.07728 48.92369)', 'POINT (-119.28816 47.61233)',
       'POINT (-121.14532 45.61623)', 'POINT (-119.9899 46.94468)',
       'POINT (-119.43558 48.93881)', 'POINT (-120.16034 47.8854)',
       'POINT (-119.52724 48.41078)', 'POINT (-119.78093 48.09967)',
       'POINT (-119.00503 46.57833)', 'POINT (-120.07145 47.64963)',
       'POINT (-123.94534 46.27264)', 'POINT (-121.69743 47.85565)',
       'POINT (-119.48323 47.38898)', 'POINT (-120.75541 46.70257)',
       'POINT (-119.9 46.73777)', 'POINT (-117.8379 48.35609)',
       'POINT (-124.38543 47.95014)', 'POINT (-120.42051 46.44779)',
       'POINT (-123.81154 46.36545)', 'POINT (-122.8775 47.82642)',
       'POINT (-117.04784 46.34056)', 'POINT (-121.17954 47.2378)',
       'POINT (-117.64458 47.64046)', 'POINT (-122.50156 47.13872)',
       'POINT (-123.45797 46.2716)', 'POINT (-123.0921 47.47203)',
       'POINT (-118.98504 47.40718)', 'POINT (-119.04573 46.96971)',
       'POINT (-118.14913 47.65405)', 'POINT (-121.28544 45.6939)',
       'POINT (-118.06211 48.61053)', 'POINT (-123.81481 46.66382)',
       'POINT (-122.40527 47.2556)', 'POINT (-119.57959 48.3654)',
       'POINT (-119.63759 47.8118)', 'POINT (-119.89975 48.05502)',
       'POINT (-122.26496 48.99956)', 'POINT (-117.30443 48.33866)',
       'POINT (-122.03243 46.75908)', 'POINT (-117.27816 48.01723)',
       'POINT (-122.04735 47.08015)', 'POINT (-117.13261 47.45227)',
       'POINT (-117.15511 47.27966)', 'POINT (-120.0051 48.12868)',
       'POINT (-121.60421 48.25431)', 'POINT (-122.48446 46.52948)',
       'POINT (-122.53087 47.12729)', 'POINT (-119.50853 48.5012)',
       'POINT (-124.09366 46.80933)', 'POINT (-117.74137 48.05738)',
       'POINT (-122.30857 46.04647)', 'POINT (-117.68485 46.92752)',
       'POINT (-118.19657 48.29812)', 'POINT (-120.10803 48.25448)',
       'POINT (-117.36477 46.87965)', 'POINT (-120.73063 46.38287)',
       'POINT (-118.16165 48.42934)', 'POINT (-124.62735 48.36778)',
       'POINT (-118.97669 47.9708)', 'POINT (-122.92991 48.58348)',
       'POINT (-121.41604 48.52739)', 'POINT (-121.48491 47.77193)',
       'POINT (-117.38035 47.42909)', 'POINT (-122.60209 46.52793)',
       'POINT (-123.99814 46.71227)', 'POINT (-121.10717 45.84657)',
       'POINT (-120.08512 46.3294)', 'POINT (-122.95015 46.40201)',
       'POINT (-120.41752 46.98472)', 'POINT (-117.21611 47.56436)',
       'POINT (-120.4072 48.59369)', 'POINT (-118.20299 48.11777)',
       'POINT (-118.02345 48.71331)', 'POINT (-124.33152 48.05431)',
       'POINT (-117.63731 48.06288)', 'POINT (-123.61022 46.35588)',
       'POINT (-118.68999 47.33323)', 'POINT (-117.28054 48.31375)',
       'POINT (-122.64751 47.55671)', 'POINT (-122.18768 46.71902)',
       'POINT (-123.89691 47.45917)', 'POINT (-122.73237 46.32447)',
       'POINT (-123.13056 46.56094)', 'POINT (-122.49165 46.60409)',
       'POINT (-119.10557 47.69015)', 'POINT (-118.15448 46.27013)',
       'POINT (-117.95109 47.50524)', 'POINT (-117.97378 47.30036)',
       'POINT (-117.07351 47.22679)', 'POINT (-123.29831 46.57001)',
       'POINT (-117.80582 47.90886)', 'POINT (-124.21349 47.23932)',
       'POINT (-122.05976 48.52525)', 'POINT (-121.29272 46.01842)',
       'POINT (-117.12984 46.56801)', 'POINT (-122.09624 47.13954)',
       'POINT (-124.26015 48.25371)', 'POINT (-121.59274 48.48758)',
       'POINT (27.25316 67.01865)', 'POINT (-124.16705 47.11487)',
       'POINT (-123.48162 47.00236)', 'POINT (-119.9176 47.41492)',
       'POINT (-118.50797 48.99237)', 'POINT (-123.84618 47.46807)',
       'POINT (-120.20117 45.74956)', 'POINT (-123.03598 48.68843)',
       'POINT (-118.19894 48.0784)', 'POINT (-120.94822 47.18891)',
       'POINT (-120.903 45.75198)', 'POINT (-117.17125 47.38522)',
       'POINT (-117.90629 47.20139)', 'POINT (-124.02697 46.54905)',
       'POINT (-124.07463 47.11059)', 'POINT (-124.28628 47.34257)',
       'POINT (-123.6386 46.33397)', 'POINT (-119.27844 47.4263)',
       'POINT (-123.95518 46.63188)', 'POINT (-123.40727 47.23519)',
       'POINT (-118.13633 48.31085)', 'POINT (-118.31243 46.29961)',
       'POINT (-122.86239 46.07142)', 'POINT (-122.13017 46.53072)',
       'POINT (-119.99854 46.21092)', 'POINT (-117.08742 46.53906)'],
      dtype=object)

In [205]:
df['lat']=df['Vehicle Location'].apply(lambda x:x.split('(')[1].split(')')[0].split(' ')[0])
df['lon']=df['Vehicle Location'].apply(lambda x:x.split('(')[1].split(')')[0].split(' ')[1])

In [206]:
df['lon'] = df['lon'].astype(float)
df['lat'] = df['lat'].astype(float)

In [207]:
df['lon']=df['lon'].astype(int)
df['lat'] = df['lat'].astype(int)

In [208]:
df = df.drop('Vehicle Location', axis =1 )

In [209]:
df.select_dtypes('object')

,County,City,Make,Model,Electric Utility
2,Yakima,Others,NISSAN,LEAF,PACIFICORP
3,Skagit,Others,CHEVROLET,BOLT EV,PUGET SOUND ENERGY INC
4,Snohomish,Everett,FORD,FUSION,PUGET SOUND ENERGY INC
5,Snohomish,Bothell,TESLA,MODEL 3,PUGET SOUND ENERGY INC
6,Snohomish,Everett,NISSAN,LEAF,PUGET SOUND ENERGY INC
...,...,...,...,...,...
112629,King,Others,TESLA,MODEL Y,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112630,Others,Others,NISSAN,LEAF,BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...
112631,King,Others,FORD,ESCAPE,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112632,King,Others,KIA,NIRO,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112633,King,Others,VOLVO,XC90,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)

In [210]:
dummies = pd.get_dummies(df['County'], drop_first=True)
df = pd.concat([df.drop('County', axis = 1), dummies], axis=1)

In [211]:
dummies = pd.get_dummies(df['City'], drop_first=True)
df = pd.concat([df.drop('City', axis = 1), dummies], axis=1)

In [212]:
df

,Postal Code,Model Year,Make,Model,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Electric Utility,2020 Census Tract,...,Redmond,Renton,Sammamish,Seattle,Shoreline,Snohomish,Spokane,Tacoma,Vancouver,Woodinville
2,98901,2011,NISSAN,LEAF,73,0,15.0,218972519,PACIFICORP,53077001602,...,0,0,0,0,0,0,0,0,0,0
3,98237,2017,CHEVROLET,BOLT EV,238,0,39.0,186750406,PUGET SOUND ENERGY INC,53057951101,...,0,0,0,0,0,0,0,0,0,0
4,98201,2019,FORD,FUSION,26,0,38.0,2006714,PUGET SOUND ENERGY INC,53061041500,...,0,0,0,0,0,0,0,0,0,0
5,98021,2018,TESLA,MODEL 3,215,0,1.0,475635324,PUGET SOUND ENERGY INC,53061051916,...,0,0,0,0,0,0,0,0,0,0
6,98203,2013,NISSAN,LEAF,75,0,38.0,253546023,PUGET SOUND ENERGY INC,53061040900,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112629,98019,2022,TESLA,MODEL Y,0,0,45.0,217955265,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033032401,...,0,0,0,0,0,0,0,0,0,0
112630,98250,2019,NISSAN,LEAF,150,0,40.0,103663227,BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...,53055960301,...,0,0,0,0,0,0,0,0,0,0
112631,98070,2022,FORD,ESCAPE,38,0,34.0,193878387,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033027702,...,0,0,0,0,0,0,0,0,0,0
112632,98042,2018,KIA,NIRO,26,0,47.0,125039043,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033032007,...,0,0,0,0,0,0,0,0,0,0
112633,98042,2022,VOLVO,XC90,18,0,47.0,194673692,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033032005,...,0,0,0,0,0,0,0,0,0,0

In [213]:
df.select_dtypes('object')

             Make    Model                                   Electric Utility
2          NISSAN     LEAF                                         PACIFICORP
3       CHEVROLET  BOLT EV                             PUGET SOUND ENERGY INC
4            FORD   FUSION                             PUGET SOUND ENERGY INC
5           TESLA  MODEL 3                             PUGET SOUND ENERGY INC
6          NISSAN     LEAF                             PUGET SOUND ENERGY INC
...           ...      ...                                                ...
112629      TESLA  MODEL Y      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112630     NISSAN     LEAF  BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...
112631       FORD   ESCAPE      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112632        KIA     NIRO      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
112633      VOLVO     XC90      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)

[112152 rows x 3 columns]

In [214]:
df = df.drop('Electric Utility', axis=1)

### Train-Test split

In [215]:
from sklearn.model_selection import train_test_split

In [216]:
X = df.drop(['Make', 'Model'], axis = 1).values

In [217]:
y= df[['Make', 'Model']].values

In [218]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

### Creating Decision Tree Classifier Model

In [219]:
from sklearn.tree import DecisionTreeClassifier

In [220]:
dtree=DecisionTreeClassifier()

In [221]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier()

### Predicting our Model with 'X_test'

In [222]:
predictions = dtree.predict(X_test)

In [223]:
print(predictions.shape)

(33646, 2)

In [224]:
print(predictions)

[['TESLA' 'MODEL X']
 ['POLESTAR' 'PS2']
 ['CHEVROLET' 'BOLT EV']
 ...
 ['TESLA' 'MODEL 3']
 ['TESLA' 'MODEL 3']
 ['VOLVO' 'C40']]

In [225]:
df.drop(df.iloc[:, 14::], inplace=True, axis=1)

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 112152 entries, 2 to 112633
Data columns (total 14 columns):
 #   Column                                                        Non-Null Count   Dtype
---  ------                                                        --------------   -----
 0   Postal Code                                                   112152 non-null  int64
 1   Model Year                                                    112152 non-null  int64
 2   Make                                                          112152 non-null  object
 3   Model                                                         112152 non-null  object
 4   Electric Range                                                112152 non-null  int64
 5   Base MSRP                                                     112152 non-null  int64
 6   Legislative District                                          112152 non-null  float64
 7   DOL Vehicle ID                                                112152 non-null  int64
 8   2020 Census Tract                                             112152 non-null  int64
 9   Plug-in Hybrid Electric Vehicle (PHEV)                        112152 non-null  uint8
 10  Eligibility unknown as battery range has not been researched  112152 non-null  uint8
 11  Not eligible due to low battery range                         112152 non-null  uint8
 12  lat                                                           112152 non-null  int32
 13  lon                                                           112152 non-null  int32
dtypes: float64(1), int32(2), int64(6), object(2), uint8(3)
memory usage: 9.7+ MB